---
Language:         Cpp
BasedOnStyle:     Chromium
IndentWidth:      4
ColumnLimit:      78
UseTab:           Never
IndentCaseLabels: false
PointerAlignment: Right

AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: true

BinPackArguments: true
BinPackParameters: true

AlignAfterOpenBracket: Align

AlignConsecutiveMacros:      AcrossComments
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments:  Consecutive

AlignArrayOfStructures: Left
SortIncludes: Never
SpaceAfterCStyleCast: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
...
