build
**/_build
app/.target
app/bin
app/build
app/debug
app/dep
app/obj
app/output-scan-build/
app/src/glyphs.c
app/src/glyphs.h
app_*.tgz
integration_tests.json
integration_tests_log
pattern_registry
tests/samples
tests/standalone/snapshots-tmp
unit-tests/build
*env/
ledger/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
.coverage.*.*

tags
__pycache__

# .vscode
.vscode/

# tmp
tmp/

# Claude
.claude/
build-unit-tests/
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/.coverage.*
**/.coverage.*.*
